#title {
  background-color: #f2744e;
  font-size: 40px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#file {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width:auto;
  height:auto;
  max-width:360px;
  max-height:360px;
}



@media screen and (max-width: 480px) {
    .image {
      max-width:250px;
      max-height:250px;
    }
}
